* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Roboto", serif;
}

a {
    text-decoration: none;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: white;
    height: 60px;
}
#header-right{
    display: flex;
    justify-content: right;

    gap: 1rem;
}

.logo-text {
    color: rgb(95, 113, 93);
    font-size: 30px;
}

.header-text {
    color: black;
    font-size: 20px;
}

#container {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    overflow: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 1rem 1rem 1rem;
}

#top-content {
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-content p {
    font-size: 20px;
}

h1 {
    font-size: 30px;
    margin-bottom: 0px;
}

#middle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}



#content-left {
    background-color: white;
    border: solid 1px white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 380px;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 25px;
    align-items: center;
    height: 40%;
    width: 100%;
}

#search-departure, #search-arrival, #travelDate, #btn-search {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
}
#search-departure, #search-arrival, #travelDate {
    padding-left: 20px;
}

#travelDate {
    padding-right: 20px;
}

#btn-search {
    background-color:#4ea891;
    color: white;
}


#content-left-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 60%;
    justify-content: space-between;
    margin-bottom: 25px;
}

#image > img {
    width: 150px;
    margin-bottom: 20px;
}

#lign {
    color:#4ea891;
    width: 70%;
    height: 3px;
    border: 0;
    background-color:#4ea891;
}

#sep-search {
    color:#4ea891;
    width: 80%;
    height: 1px;
    border: 0;
    margin: 0;
    background-color:#4ea891;
}

#text {
    margin-top: 20px;
}

#content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 350px;
    height: 380px;
    border: solid 1px white;
    border-radius: 15px;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#contents p {
    text-align: center;
}

#contents #image {
    text-align: center;
}

#tripsList {
    /* margin-top: 25px; */
    /* height: 100%; */
    /* width: 90%; */
    overflow: auto;
    padding: 1rem;
}
.trips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px whitesmoke solid;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0 0.5rem;
}
.trips:last-child {
    margin-bottom: 0;
}
    .trips p {
        padding: 0 0.5rem;
        /* display: flex; */
        /* align-items: center; */
    }

.trips #bookTrip-btn {
    background-color:#4ea891;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}
