* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
}


#header {
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background-color: white;
    height: 60px;
}


.logo-text {
    color: rgb(95, 113, 93);
    font-size: 30px;
}

.header-text {
    color: black;
    font-size: 20px;
}

#container {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-content {
    margin-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-content p {
    font-size: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

#middle {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 900px;
    justify-content: space-between;
    align-items: center;
}

#content-left {
    background-color: white;
    border: solid 1px white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 380px;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: top;
    margin-top: 25px;
    align-items: center;
    height: 40%;
    width: 100%;
}

#search-departure, #search-arrival, #travelDate, #btn-search {
    width: 85%;
    height: 40px;
    border-radius: 5px;
    background-color: whitesmoke;
    border: none;
}
#search-departure, #search-arrival, #travelDate {
    padding-left: 20px;
}


#btn-search {
    background-color: rgb(99, 177, 99);
    color: white;
}


#content-left-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 60%;
    justify-content: space-between;
    margin-bottom: 25px;
}

#image > img {
    width: 150px;
    margin-bottom: 20px;
}

hr {
    color: rgb(99, 177, 99);
    width: 70%;
    height: 3px;
    border: 0;
    background-color: rgb(99, 177, 99);
}

#text {
    margin-top: 20px;
}

#content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 350px;
    height: 380px;
    border: solid 1px white;
    border-radius: 15px;
    overflow: scroll;
}

#contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tripsList {
    width: 90%;
}
.trips {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px whitesmoke solid;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 15px;
    
}

.trips #bookTrip-btn {
    background-color: rgb(99, 177, 99);
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
    margin: 10px 0px;
}
